*{
    margin: 20;
    padding: 0;
    text-align: center;
}
.body{
    background:linear-gradient(to left, pink , rgb(110, 187, 238));
  }
  
.wrapper{
    background-color: white;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5) ;
}
.myDiv {
    background:linear-gradient(to left, pink , rgb(110, 187, 238));
    text-align: center;
}
.myDiv1 {
    background:lightgray;
    text-align: center;
    color: rgb(112, 140, 145);
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
}

